<header>
    <div class="header-img-container">
        <div class="over">
            <div class="">
                <h1>LLEVA EL CONTROL DE TU UNIDAD</h1>
                <p>
                    <b>
                        MANTENTE AL DIA
                    </b>
                </p>
            </div>
        </div>
        {{!-- <img src="/img/bus-header.jpg" alt=""> --}}
    </div>
</header>

<section class="container txt-header-socio">
    <div class="title-inicio">
        <h3>TUS SERVICIOS</h3>
    </div>
    <div class="body-inicio">
        <div>
            <div>
                <img src="/img/iconos-inicio/ingreso.png" width="80" alt="icono de boleto">
            </div>
            <div>
                <p>
                    <b>
                        Revisa
                    </b>
                    tus ingresos.
                </p>
            </div>
        </div>
        <div>
            <div>
                <img src="/img/iconos-inicio/reloj.jpg" width="80" alt="icono de boleto">
            </div>
            <div>
                <p>
                    <b>
                        Revisa
                    </b>
                    tus horarios.
                </p>
            </div>
        </div>
        <div>
            <div>
                <img src="/img/iconos-inicio/bus.jpg" width="80" alt="icono de boleto">
            </div>
            <div>
                <p>
                    <b>
                        Revisa
                    </b>
                    tus buses.
                </p>
            </div>
        </div>
        <div>
            <div>
                <img src="/img/iconos-inicio/coop.jpg" width="80" alt="icono de boleto">
            </div>
            <div>
                <p>
                    <b>
                        Revisa
                    </b>
                    tu conductor.
                </p>
            </div>
        </div>

    </div>
</section>