<header>
    <div class="header-img-container">
        <img src="/img/bus-header.jpg" alt="">
    </div>
</header>

<section class="container txt-header-socio">
    <div>
        <h5>Indicaciones</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum recusandae quia odio dolore rerum, rem
            perferendis dolorem hic! Omnis at consequuntur autem totam ipsum, voluptatum harum architecto dolores optio
            enim alias nostrum commodi asperiores facere accusantium quidem eveniet. Obcaecati perferendis inventore
            quam fugit dolore eius molestiae, quis magni id ipsam.
        </p>
    </div>
</section>