body {
  background-color: rgb(207, 207, 207);
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-left: 35cm;
  padding: 0px;
  color: rgb(04, 04, 04);
}

.parrafo1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-left: 8cm;
  color: rgb(04, 04, 04);
}

.parrafo2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-left: 1cm;
  color: rgb(04, 04, 04);
}

.parrafo3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-left: 1cm;
  color: rgb(04, 04, 04);
}

.parrafo4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-left: 7cm;
  color: rgb(04, 04, 04);
}

.parrafo5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-left: 35cm;
  padding: 17px;
  color: rgb(04, 04, 04);
}

.imagen1 {
  font-size: 18px;
  padding-left: 35cm;
  padding: 17px;
}
