<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/fonts.css" />
<link rel="stylesheet" href="css/reservaContenainer.css" />

<div class="_busContainer">
    <span class="material-icons foco-izq">incomplete_circle</span>
    <span class="material-icons foco-der">incomplete_circle</span>
    <input type="text" name="id_bus" id="id_busReserva" hidden />
    <div class="asientos-der">
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
    </div>

    <div class="asientos-izq">
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
        <div>V1</div>
    </div>
</div>