<link rel="stylesheet" href="g.css">

<div class="container">
    <select name="bus" id="bus">
        <option value="bus1">NRO.PISO 1</option>
        <option value="bus1.2">NRO.PISO 2</option>
    </select>

    <div class="asientos">
        <div>
            <button disabled="disabled" id="ocupados"></button>
            <label for="ocupados">OCUPADOS</label>
            <button disabled="disabled" id="ocupadoss">3</button>
        </div>
        <div>
            <button disabled="disabled" id="libres"></button>
            <label for="libres">LIBRES</label>
            <button disabled="disabled" id="libress">37</button>
        </div>
    </div>
</div>



<div class="datos">
    <p class="datosp">PQC-7003</p>
    <P>Quito - Guayas</P>
</div>