<div class="container">
    <table class="table">
        <caption>Seleciona un registro para ver sus detalles</caption>
        <br>
        <br>

        <div>
            <button class="boton"><span>HOY</span></button>
        </div>


        <thead>
            <tr>
                <th>FECHA</th>
                <th>HORA SALIDA</th>
                <th>HORA LLEGADA</th>
                <th>RUTA</th>
                <th>ASIENTOS</th>
                <th>ENCOMIENDAS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="FECHA">22/04/2022</td>
                <td data-label="HORA SALIDA">09:00</td>
                <td data-label="HORA LLEGADA">17:00</td>
                <td data-label="RUTA">T.Carcelen(Quito)/T.Guayaquil(Guayaquil)</td>
                <td data-label="ASIENTOS">45</td>
                <td data-label="ENCOMIENDAS">10</td>
            </tr>
            <tr>
                <td data-label="FECHA">23/04/2022</td>
                <td data-label="HORA SALIDA">10:00</td>
                <td data-label="HORA LLEGADA">18:00</td>
                <td data-label="RUTA">T.Carcelen(Quito)/T.Guayaquil(Guayaquil)</td>
                <td data-label="ASIENTOS">50</td>
                <td data-label="ENCOMIENDAS">20</td>
            </tr>
        </tbody>
    </table>
</div>