{{#if message }}
<div class="alert alert-warning alert-dismissible fade show m-0 text-center mb-3" role="alert" style=" font-size:13px">
    <strong>{{ message }}</strong>
</div>
{{/if}}


{{#if success}}
<div class="container p-4 position-absolute"
    style="max-width: 450px; text-align:center; transform: translateX(175%); margin-top: -50px">
    <div class="alert alert-primary alert-dismissible fade show m-0" role="alert" style=" font-size:16px">
        <strong>{{ success }}</strong>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>


{{/if}}