<div class="nav-container">

  <div class="child-nav-container">

    <div class="container-1">
      <div class="img-logo">

        <div>
          <div>
            <img width="40" src="/img/logo_fondo_negro.jpg" alt="">
            <a href="#">
              Ticket Bus | Socio
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="container-2">
      <div>
        <a href="/">
          Inicio
        </a>
      </div>
      <div>
        <a href="/bus">
          Bus
        </a>
      </div>
      <div>
        <a href="/detalle">
          Detalle
        </a>
      </div>
    </div>
    <div class="container-3">
      <div>
        <a href="#">
          Ayuda
        </a>
      </div>
      <div>
        <a href="/cerrar-sesion">
          Cerrar Sesion
        </a>
      </div>
    </div>
  </div>
</div>