<div class="container">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">

        <img src="/img/logo.png" width="75" alt="./img/logo.png">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/links">Plan actual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/add">Planes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <b>
              <a class="nav-link" href="/signin">Login</a>
            </b>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Registrase</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</div>