<div id="general">
    <div class="head-table">
        <div>
            <div id="enruta">
                EN RUTA
            </div>
            <div>
                <p>
                    Estado
                </p>
            </div>
        </div>

        <div class="date-head">
            <p>11/04/2022</p>
        </div>
    </div>

    <table align="center">
        <p>CONDUCTORES</p>
        <tr>
            <th>Activo</th>
            <th>Nombres</th>
            <th>Cedula</th>
            <th>Contacto</th>
            <th>Unidad</th>
        </tr>
        <tr>
            <td>*</td>
            <td>Jefferson Alava </td>
            <td>1725732908</td>
            <td>0987318452</td>
            <td>37</td>


        </tr>
        <tr>
            <td>*</td>
            <td>Jefferson Alava </td>
            <td>1725732908</td>
            <td>0987318452</td>
            <td>37</td>


        </tr>


    </table>


    <table align="center">
        <br>
        <p>HORARIOS</p>

        <tr>
            <th>Salida</th>
            <th>Llegada</th>
            <th>Ruta</th>
            <th>Fecha</th>
        </tr>
        <tr>
            <td>10.00 AM</td>
            <td>12.30 PM </td>
            <td>Quito - Otavalo</td>
            <td>11/04/2022</td>


        </tr>
        <tr>
            <td>2.00 PM</td>
            <td>4.30 PM </td>
            <td>Otavalo - Quito</td>
            <td>11/04/2022</td>

        </tr>

    </table>

    <table align="center">
        <br>
        <p>ENCOMIENDAS</p>

        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Cantidad</th>
            <th>Peso</th>
            <th>Precio Total</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Ponchos </td>
            <td>4</td>
            <td>2kg</td>
            <td>$10</td>


        </tr>
        <tr>
            <td>02</td>
            <td>Sombreros</td>
            <td>15</td>
            <td>2kg</td>
            <td>$18</td>

        </tr>
        <tr>
            <td colspan="4">Total</td>
            <th>$28</th>

        </tr>


    </table>

    <table align="center">
        <br>
        <p>RESERVAS</p>

        <tr>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Valor individual</th>
            <th>Valor Total</th>
        </tr>
        <tr>
            <td>Adultos</td>
            <td>10</td>
            <td>$5</td>
            <td>$50</td>


        </tr>
        <tr>
            <td>Preferencial</td>
            <td>15</td>
            <td>$2,50</td>
            <td>$37,50</td>

        </tr>
        <tr>
            <td colspan="3">Total</td>
            <th>$87.50</th>

        </tr>


    </table>

</div>