<section class="container">
    <button>
    <div>
    <img src="./siluetabus.jpeg" alt="foto">
    <p>UNIDAD 1</p>
    <h1>Coop.SantaAna</h1>
    <H2>T.Carcelen</H2>
</div>
</button>
</section>
<section class="borde">
    

    <h3> Quito - Guayaquil pbf-9615.</h3>
    

</section>

<section class="borde1">
    

    <h3> Quito - Cuenca pbf-9615.</h3>
    

</section>



</section>
<section>
    
    <section class="container1">
        <button>
        <link rel="stylesheet" href="./bus2.css"
        <div>
        <img src="./bus2.jpeg" alt="foto">
        <p1>UNIDAD 2</p1>
        <h3>Coop.Aloag</h3>
        <H4>T.Quitumbe</H4>
        </div>
    </button>
    </section>
   
   
</section>
