<section class="container-main">
    <div class="container-child">

        <div class="bus-partial">
            {{> detalle-bus }}
        </div>
        <div class="tablas-partial">
            {{> tablas }}
        </div>

    </div>
</section>
</div>