<style>
    .t-light {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    input::placeholder {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .centerForgot {
        display: flex;
        margin-top: 80px;
        justify-content: center
    }

    .align-rigth {
        display: flex;
        justify-content: flex-end;
    }


    a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500 !important;
        margin-right: 12px;
    }


    button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500 !important;
        margin-right: 12px;
    }
</style>


<div class="container centerForgot">
    <form action="/signin/forgot" method="POST">
        <div class="card" style="width: 33rem;">
            <ul class="list-group list-group-flush py-2">
                <li class="list-group-item">Recupera tu cuenta</li>

                <ul class="list-group list-group-flush p-3">

                    <p class="card-text t-light mb-3">Ingresa tu correo electronico para buscar tu cuenta.</p>

                    {{> message}}

                    <div class="">
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                            placeholder="Correo electronico" aria-describedby="emailHelp">
                    </div>
                </ul>
                <ul class="list-group list-group-flush p-1">
                    <div class="align-rigth">
                        <a class="btn btn-secondary" href="/signin">Cancelar</a>
                        <button type="submit" class="btn btn-primary" href="#">Buscar</button>
                    </div>
                </ul>
            </ul>
        </div>
    </form>
</div>